body {
	background-image: url("Brown.png");
	background-repeat: no repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card {
	display: flex;
	padding: 24px;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
	max-width: 400px
	font-size: 15px;
	font-family: 'Inconsolata', sans serif;
	font-weight: 600
	border-radius: 8px;
	text-decoration: none;
	color: #333333;
	background: #fafafa;
	transition: background 0.25s;
}

.card :hover {
	background: ffffff;
}

.card__image {
	width: 80px;
	border-radius: 50%;
	margin-right: 24px;
}

.card__title {
	margin-top: 0;
	font-size 3.0em;
	font-weight: bold;
}

.card__body {
	line-height: 1.5;
}

.card__body:last-child{
	margin-bottom: 0;
}

mark {
            background-color: palegreen;
            color: white;
        }
		
.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px; 
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
	text-align: center;
  background-color: palegreen;
  color: black;
  transform: rotateY(180deg);
}
